@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

html {
  font-size: 62.5%;
  word-spacing: 1px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #2125299d;
}

body {
  background: #f5f5f5;
  scroll-snap-align: center;
}

.header {
  padding: 0 15rem;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  background-color: #f5f5f5;
}

.header .logo {
  height: 3rem;
}

.header .logo a {
  color: #212529;
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-list li a {
  color: #2125299d;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.navbar-list li a:hover {
  font-weight: bold;
  color: #000000;
}

.mobile-nav {
  display: none;
  background: transparent;
  cursor: pointer;
}


#home {
  scroll-snap-type: y mandatory;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
}

.home-container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.home-main {
  display: flex;
  gap: 15rem;
  justify-content: center;
  position: relative;
}

.home-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  position: relative;
  margin-top: 2rem;
}

.home-img {
  -webkit-animation: morph 5s ease-in-out infinite;
  animation: morph 5s ease-in-out infinite;
  background-image: url("./img/profile-pic.jpeg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 32rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 32rem;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.home-text h1 {
  font-size: 7.5rem;
  font-weight: bolder;
  color: #212529;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.2;
}

.home-text p {
  font-size: 1.7rem;
  font-weight: 400;
  color: #2125299d;
  line-height: 1.6;
  text-align: center;
}

.home-socials {
  display: flex;
  gap: 1.2rem;
  margin: 2.5rem 0;
}

.home-socials a {
  color: #2125299d;
  text-decoration: none;
}

.home-socials a:hover {
  color: #000000;
}

#about {
  scroll-snap-type: y mandatory;
  padding: 15rem 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title h2 {
  font-size: 4rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.about-layout {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 6rem auto;
  gap: 5rem;
}

.about-left {
  width: 50%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-right {
  width: 30%;
}

.about-right img {
  width: 100%;
  object-fit: cover;
  height: -webkit-fill-available;
}

.about-subtitle {
  font-size: 1.7rem;
  font-weight: 400;
  color: #2125299d;
  margin-bottom: 4rem;
  margin: 2rem auto;
  text-align: center;
}

.tech-stack {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-stack p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 4rem;
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
  text-transform: uppercase;
  border-right: 2px solid #21252981;
  padding-right: 3rem;
}

.tech-stack ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-left: 2rem;
}

.tech-stack img {
  max-width: 35px;
  max-height: 35px;
  transition: all 2s ease-in-out;
}

#project {
  padding: 15rem 15rem;
  scroll-snap-type: y mandatory;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-content .more {
  font-size: 1.8rem;
  color: #2125299d;
  margin-bottom: 4rem;
  max-width: 80%;
  margin: 5rem auto;
  text-align: center;
}

.project-content .more a {
  text-decoration: none;
  font-weight: 600;
  color: #2125299d;
  font-size: 1.8rem;
  transition: all 0.2s;
}

.project-content .more a:hover {
  color: #131517;
}

.project-title h2 {
  font-size: 4rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.project-subtitle p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #2125299d;
  margin-bottom: 4rem;
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.project-grid {
  padding: 0 5rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.project-card {
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.07) 0px 1px 2px 0px;
  width: 32rem;
}

.project-card .project-img {
  width: 100%;
  height: 20rem;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  overflow: hidden;
}

.project-card .project-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 3s ease-in-out;
  border-radius: 3px;
}

.project-card .project-img:hover img {
  transform: translateY(-72%);
}

.project-card .project-info {
  padding: 2rem;
}

.project-card .project-info h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.project-card .project-info p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: #2125299d;
  margin-bottom: 1.8rem;
}

.project-card .project-info .btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  margin-right: 20px;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background: #2d2e32;
  color: #fff;
  border-radius: 3px;
  transition: all 0.5s;
  cursor: pointer;
}

.project-card .project-info .btn:hover {
  background: #000000;
  transform: scale(0.7);
}

#contact {
  scroll-snap-type: y mandatory;
  padding: 15rem 15rem;
}

.contact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-layout {
  display: flex;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 5rem auto;
  gap: 10rem;
}

.contact-left {
  width: 50%;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-right {
  width: 30%;
}

.contact-right img {
  width: 100%;
  object-fit: cover;
  height: -webkit-fill-available;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  max-width: 50%;
  margin-top: 5rem;
}

.contact-title h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: #212529;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.contact-subtitle p {
  font-size: 1.8rem;
  font-weight: 400;
  color: #2125299d;
  margin-bottom: 4rem;
  max-width: 80%;
  margin: 2rem auto;
  text-align: center;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #212529;
  font-size: 2rem;
  line-height: 1.6;
}

.contact-item .textIcon {
  font-size: 1.9rem;
  font-weight: bold;
  color: #212529;
  margin-right: 10px; 
  display: flex;
  align-items: center;
  gap: 5px;

}

.contact-item a {
  font-size: 1.8rem;
  font-weight: 400;
  color: #2125299d;
  text-decoration: none;
  transition: all 0.5s;
}

.contact-item a:hover {
  font-weight: 600;
  transform: scale(0.7);
}


.footer {
  padding: 5rem 8rem;
  background: #131517;
  color: #f5f5f5;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-socials {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.footer-socials a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 2.5rem;
  transition: all 0.5s;
}

.footer-socials a:hover {
  transform: scale(1.2);
}

.footer p {
  font-size: 1.6rem;
}

@media (max-width: 992px) {
  .header {
    padding: 0 12rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
  }

  .navbar-list {
    gap: 3rem;
    margin-top: 5px;
  }

  #home {
    padding: 15rem 0;
  }

  .home-content {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .home-main {
    flex-direction: column-reverse;
    gap: 5rem;
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .home-text h1 {
    font-size: 6rem;
  }

  .about-left {
    width: 100%;
  }

  .about-right {
    display: none;
  }

  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-info {
    max-width: 100%;
  }

  .contact-right {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .mobile-nav {
    display: block;
    z-index: 999;
    color: #212529;
  }

  .navbar.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-nav .close {
    display: block;
  }

  .mobile-nav .menu {
    display: none;
  }


  .header {
    position: fixed;
    padding: 0 6rem;
  }

  .navbar {
    width: 100%;
    height: 100vh;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
    gap: 8rem;
  }

  .navbar-list li a {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  #home {
    padding: 10rem 0;
  }

  .home-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 3rem;
  }

  .home-text {
    max-width: 100%;
  }

  .home-text .home-socials {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .home-text h1 {
    font-size: 6rem;
  }

  .home-text p {
    font-size: 1.7rem;
  }

  .home-socials a {
    font-size: 3.5rem;
  }

  #about {
    padding: 10rem 0;
    margin-top: 10rem;
  }

  .about-left {
    width: -webkit-fill-available;
    margin-right: 0;
    padding: 0 3rem;
  }

  .about-content .about-title h1 {
    font-size: 6rem;
  }

  .about-content .about-subtitle p {
    font-size: 1.6rem;
  }

  .tech-stack {
    flex-direction: column;
    position: static;
  }

  .tech-stack p {
    border-right: none;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    padding-right: 0;
    border-bottom: 2px solid #21252981;
  }

  .tech-stack .tech-logo ul {
    margin: auto;
  }

  #project {
    padding: 10rem 0;
  }

  .project-content .project-title h3 {
    font-size: 6rem;
  }

  .project-content .project-subtitle p {
    font-size: 1.6rem;
  }

  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-card {
    width: 70%;
    margin: auto;
  }

  .project-card .project-img {
    height: 25rem;
  }

  .project-card .project-info h3 {
    font-size: 2.7rem;
  }

  .project-card .project-info p {
    font-size: 1.6rem;
  }

  .project-content .more {
    font-size: 1.4rem;
  }

  .project-card .project-info .btn {
    font-size: 1.5rem;
  }

  #contact {
    padding: 10rem 0;
  }

  .contact-left {
    width: -webkit-fill-available;
    margin-right: 0;
    padding: 0 3rem;
  }

  .contact-content .contact-title h3 {
    font-size: 6rem;
  }

  .contact-content .contact-subtitle p {
    font-size: 1.5rem;
  }

  .contact-info {
    flex-direction: column;
  }

  .contact-item {
    margin-bottom: 2rem;
  }

  .contact-item p {
    font-size: 2rem;
  }

  .contact-item span {
    font-size: 1.8rem;
  }

  .contact-item i {
    font-size: 1.8rem;
  }

  .footer-content {
    display: grid;
    gap: 3rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .footer p {
    font-size: 1.3rem;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 0 3rem;
  }

  #project {
    padding: 15rem 0;
  }

  .home-main {
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
  }
  .home-img {
    width: 30rem;
    height: 30rem;
  }
  .home-text h1 {
    font-size: 5.5rem;
  }

  .project-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-card {
    width: 100%;
    margin: auto;
  }

  #contact {
    padding: 10rem 0;
  }

  .contact-info {
    flex-direction: column;
    justify-content: center;
  }

  .contact-item {
    margin-bottom: 2rem;
  }
}